.ant-tabs-nav-list {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.ant-tabs-tab-btn {
  /* height: 100%;
  display: flex;
  align-items: center;
  justify-content: center; */
  font-size: 18px;
}
